<div class="bg-dark justify-content-between">
    <a class="navbar-brand text-white" href="#">imgur</a>
         <!--New post button-->
         <button type="button" class="btn btn-sm d-inline-flex" style="background-color: #1BB76E;">  
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-square-fill align-self-center" viewBox="0 0 16 16">
                 <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
             </svg>
             <a class="nav-link text-white" href="#">New post</a>
         </button>
     <!--Go Ad-Free button-->
     <button type="button" class="btn btn-sm"><a class="nav-link text-white ad-free" routerLink="emerald">Go Ad-Free</a></button>
     <!--Sign in button-->
     <button type="button" class="btn btn-sm"><a class="nav-link text-white" routerLink="sigin">Sign in</a></button>
     <!--Sign up button-->
     <button type="button" class="btn btn-sm"><a class="nav-link text-white" routerLink="register">Sign up</a></button> 
</div>
