<div class = "py-3" style="background-color: rgba(0,0,0,0);">
    <div class="d-flex justify-content-between align-items-center mx-5">
        <div class="d-flex align-items-center text-white">
            <span>EXPLORE TAGS</span>
        </div>
        <a type="button" class="btn text-white">MORE TAGS +</a>
    </div>
    <div class="d-inline-flex flex-nowrap justify-content-between p-1 flex-wrap text-white mx-5">
        <div class="card text-center" style="background-color:rgb(255,100,130);">
            <a></a>
            <img src="/assets/pokemon.jpg" class="card-img-top ">
            <div class="card-body p-1">
              <div class="card-text" style="font-weight: bold;">{{featured_tag_topic}}</div>
              <div class="card-text" style="color:rgba(254,254,254,0.8);">Featured . {{featured_tag_posts}} Posts</div>
            </div>
        </div>

        <div *ngFor="let tag of tags;">
          <tag-card topic={{tag.topic}} posts={{tag.posts}} imagePath={{tag.imagePath}}></tag-card>
        </div>
    </div>
</div>