<div style="background-color: #141518;">
    <a class="d-flex justify-content-center" routerLink="">
        <div class="site-label"></div>
    </a>
    <div class="text-center text-white">Sign In with
    </div>
    <div>

    </div>
    <div class="text-center text-white"> or with Imgur</div>
    <div class="input-group rounded"style="background-color: gray;">
        <input type="text" class="form-control" placeholder="Username or Email" aria-label="Username or Email" aria-describedby="button-addon3">
        <!--Search Button-->
    </div>
    <div class="input-group rounded"style="background-color: gray;">
        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="button-addon4">
        <a class="text-center text-white" href="">
            forgot?
        </a>
    </div>
    <div class="postion-absolute bottom-0 start-0">
        <a class="text-white "href="">
            terms
        </a>
        <a class="text-white" href="">
            privacy
        </a>
    </div>
</div>