<nav class = "navbar position-absolute bottom-0 bg-dark container-fluid justify-content-evenly">
        <ul class="nav align-items-center">
            <li class="nav-item text-secondary">&copy; 2021 Imgur, Inc</li>
            <li><a class="nav-link text-secondary" href="#">About</a></li>
            <li><a class="nav-link text-secondary" href="#">Emerald</a></li>
            <li><a class="nav-link text-secondary" href="#">Press</a></li>
            <li><a class="nav-link text-secondary" href="#">Blog</a></li>
            <li><a class="nav-link text-secondary" href="#">Privacy</a></li>
            <li><a class="nav-link text-secondary" href="#">CCPA</a></li>
            <li><a class="nav-link text-secondary" href="#">Terms</a></li>
            <li><a class="nav-link text-secondary" href="#">Advertise</a></li>
            <li><a class="nav-link text-secondary" href="#">Ad Choices</a></li>
            <li><a class="nav-link text-secondary" href="#">Rules</a></li>
            <li><a class="nav-link text-secondary" href="#">Help</a></li>
            <li><a class="nav-link text-secondary" href="#">Careers</a></li>
            <li><a class="nav-link text-secondary" href="#">Store</a></li>

            <!--
            <li><a class="nav-link text-secondary" href="#">Api</a></li>
            <<li><a class="nav-link bg-secondary text-white" href="#">Do Not Sell My Personal Information</a></li>
            -->
        </ul>
        <div class="btn-group dropup">
            <button type="button" class="btn text-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                ...
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="nav-link bg-secondary text-white" href="#">Api</a></li>
                <li><a class="nav-link bg-secondary text-white" href="#">Do Not Sell My Personal Information</a></li>
            </ul>
        </div>
        <a class="btn btn-lg bg-secondary text-white" href="#" role="button">Get the App</a>
</nav>
